/* LogIn Form  */

.loginform {
    width: 470px;
    max-height: 400px;
    margin: 50px auto;
    padding: 10px 30px 30px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-size: 20px;
    border-radius: 40px;

}

.form_head {
    text-align: center;
    color: #e7d8d3;
    text-transform: uppercase;

}

.input .textlabel {
    display: block;
}

.input input {
    width: 100%;
    font-size: 1.1em;
    border: 1.5px solid #006D77;
    box-shadow: 2px;
    border-radius: 15px;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 7px 0px 20px;
}

/* .put:hover{
    background-color: rgb(185, 251, 253) ;
}
.put:focus{
    background-color: rgb(138, 255, 255);
} */
.button {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.button button p {
    background-color: #000000;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    padding: 5px 8px;
    border-radius: 20px;
    border: 1px solid #027580;
    margin-left: 10px;
}


@media screen and (min-width:320px) and (max-width:800px) {
    .loginform {
        width: 200px;
        font-size: 10px;
        border-radius: 30px;
    }

    .input input {
        width: 100%;
        font-size: 1.1em;
        border: 1.5px solid #006D77;
        box-shadow: 2px;
        border-radius: 10px;
        padding: 7px 10px;
        box-sizing: border-box;
        margin: 7px auto 20px;
    }

    .button button {
        background-color: #11ceb5;
        font-size: 12px;
        color: white;
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid #027580;
        margin-left: 10px;
    }

}


/* Log in Page */

.loginbgimg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.loginNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(112, 112, 112);
}

.logo {
    margin: 10px auto 5px 60px;
    color: white;
}

.btn .btn1 {
    margin-right: 60px;
    margin: 5px 30px 5px auto;
    padding: 8px 10px 8px 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(51, 50, 50);
    font-size: 20px;
}

.vrmall {
    position: relative;
    margin: 26vh 50vh 0vh 53vh;
    color: white;
    text-align: center;

}

.vrmall h1{
    font-size: 70px;
}
.vrmall button {
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
    color: white;
}


@media (max-width: 803px) {
    .loginbgimg {
        height: 400px;
        /* Adjust height for mobile screens */
    }

    /* .loginNav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    .logo {
        margin: 10px auto 5px 10px;
    }    
    .loginNav {
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo img{
        width: '38px';
        height: '30px';
        margin: '5px 0px 5px 0px';
        
    }
    .logo h2{
        font-size: 16px;
        margin: 12px 0px 0px 2px;

    }

    .btn .btn1 {
        margin: 5px auto;
        font-size: 14px;
    }

    .vrmall {
        margin: 10vh auto;
    }
    .vrmall h3{
        font-size: 15px;
    }
    .vrmall h1{
        font-size: 18px;
    }
}

/* LogIn.css */

/* Your existing CSS styles */

.loginContainer {
    position: relative;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 607px;
    z-index: -1;
}

